body {
    background-image: url(file://C:/xampp/htdocs/HUERTO%20ORGANICO/estilos/img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo del contenedor principal */
}

.menu {
    text-align: right;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-left: 20px;
}

.content {
    margin-top: 40px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    margin-bottom: 10px;
}

.section i {
    font-size: 24px;
    margin-right: 10px;
}
.logo img {
    max-width: 180px; 
    height: auto; 
}
.logo-container {
    margin-top: 20px; 
    text-align: center; 
}
.logo-img {
    width: 100%; 
    height: auto; 
}
.image-caption {
    margin-top: 5px; 
    font-size: 20px; 
}
.logo-container {
    margin-top: 20px; 
    text-align: center; 
}
.logo-img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
}
.image-caption {
    margin-top: 10px; /* Espacio entre la imagen y la descripción */
    font-size: 14px; /* Tamaño de fuente de la descripción */
    color: #555; /* Color de la descripción */
}
.contenido-title {
    text-align: center; /* Centrar el título del contenido */
    margin-top: 40px; /* Espacio entre la imagen anterior y el título del contenido */
}
.contenido-img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
    margin-top: 20px; /* Espacio entre las imágenes */
}
.contenido-img-caption {
    text-align: center; /* Centrar el título y la descripción de cada imagen */
    margin-top: 10px; /* Espacio entre el título y la descripción */
}